.LabelNombre{
font-family: fantasy;
font-size: 18px;
}

.LabelApellidos{
  font-family: fantasy;
  font-size: 15px;
}

.parrafo{
  font-size: 13px;
  font-family: fantasy;
}


.divGroup{
 padding: 3%;
 width: auto;
 height: auto;
 top: 3%;
}

