.Logindiv{
      margin: auto;
      height: 50%;
      width: 85%;
      bottom: 500px;
      top: 10%;
}

.Enviar{
      margin-top: 10%;
}

.btnLogin{
      color: rgb(240, 240, 240);
      height: 40px;
      width: 150px;
      margin: auto;
      top: 100%;
      background:rgb(0, 162, 255);
      border-width: 2px;
      border-radius: 5%;          
}
ion-label{
      text-align: center
}
// ion-input {
//   text-align: center;
//   text-justify: auto;
//   color: black;
//   font-size: 17px;
//   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
//   width: 80%;
//   height: 15%;
// }

.divbtnLonig{
      margin-top: 15%;
       
   }